<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elmus7af_elkareem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".NotificationHandling.NotificationChannels"
        android:allowBackup="true"
        android:icon="@drawable/quran_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quran_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReadingSourah.View.ReadingSourah"
            android:label="@string/title_activity_reading_sourah"
            android:theme="@style/AppTheme.NoActionBar"

            ></activity>
        <activity
            android:name=".MainView.View.MainViews"
            android:label="@string/title_activity_main_views"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen.View.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationHandling.ReceiverToDownload"/>
    </application>

</manifest>